<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cellular Automata</title>
    <link rel="stylesheet" type="text/css" href="\CSS\automata.css" />
  </head>
  <body>
    <section class="universe">
      <header>
        <h1>Automata</h1>
        <h4>THE GAME OF LIFE</h4>
      </header>
      <section>
        Rules
        <div><button>Rule1</button></div>
        <div><button>Rule2</button></div>
        <div><button>Rule3</button></div>
      </section>
      <button>Zoom</button>
      <button>Minimize</button>
      <button>Start</button>
      <button>refresh</button>
      <div class="container" id="A"></div>
    </section>
    <script type="text/javascript" src="\js\ca.js"></script>
  </body>
</html>
